﻿@model LibraryProject.Models.Author

@{
    ViewBag.Title = "AuthorBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Книги автора</h2>

<div>
    <h4>@Model.AuthorName</h4>
    <hr />
    @foreach(var book in Model.Books)
    {
        <p>@book.Name</p>
    }

</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.AuthorId }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
