﻿@model IEnumerable<LibraryProject.Models.Author>

@{
    ViewBag.Title = "AuthorsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AuthorsList</h2>

<p>
    @Html.ActionLink("Добавить автора", "AddAuthor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "EditAuthor", new { id=item.AuthorId }) |
            @Html.ActionLink("Список книг", "Details", new { id=item.AuthorId }) |
            @Html.ActionLink("Удалить", "DeleteAuthor", new { id=item.AuthorId })
        </td>
    </tr>
}

</table>
