﻿@using LibraryProject.Models
@model IEnumerable<Booking>
@{
    ViewBag.Title = "Выданные книги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Выданные книги</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Дата выдачи</th>
                    <th>Книга</th>
                    <th>Клиент</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.Id</td>
                        <td>@booking.RecievmentTime</td>
                        <td>@booking.Book.Name</td>
                        <td>@booking.User.UserName</td>
                        <td><a href="/Librarian/ReturnBook?Id=@booking.Id">Книга возвращена</a></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</body>
</html>
