﻿@model LibraryProject.Models.Publisher
@{
    ViewBag.Title = "DeletePublisher";
}

<h2>DeletePublisher</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удалить издателя?</title>
</head>
<body>
    <div>
        <p>Издатель: <strong>@Model.PublisherName</strong></p>       
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.PublisherId)
            <input type="submit" value="Удалить" />
        }
    </div>
</body>
</html>