﻿@model IEnumerable<LibraryProject.Models.Genre>
@{
    ViewBag.Title = "Список жанров";
}

<h2>Список жанров</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GenreName)
        </th>
        <th></th>
    </tr>
    <p>
        @Html.ActionLink("Добавить жанр", "AddGenre")
    </p>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "EditGenre", new { id = item.GenreId }) |
                @Html.ActionLink("Удалить", "DeleteGenre", new { id = item.GenreId })
            </td>
        </tr>
    }

</table>