﻿@model IEnumerable<LibraryProject.Models.Publisher>
@{
    ViewBag.Title = "Список издателей";
}

<h2>Список издателей</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PublisherName)
        </th>
        <th></th>
    </tr>
    <p>
        @Html.ActionLink("Добавить издателя", "AddPublisher")
    </p>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "EditPublisher", new { id = item.PublisherId }) |
                @Html.ActionLink("Удалить", "DeletePublisher", new { id = item.PublisherId })
            </td>
        </tr>
    }

</table>