﻿@using LibraryProject.Models
@model IEnumerable<Booking>
@{
    ViewBag.Title = "Список забронированных книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список заказов</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Дата бронирования</th>
                    <th>Книга</th>
                    <th>Клиент</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.Id</td>
                        <td>@booking.BookingTime</td>
                        <td>@booking.Book.Name</td>
                        <td>@booking.User.UserName</td>
                        <td><a href="/Librarian/GiveBook?Id=@booking.Id">Книга выдана</a></td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</body>
</html>
