﻿@using LibraryProject.ViewModels
@model ChangeRolesViewModel
@{
    ViewBag.Title = "Изменение ролей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangeRoles</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.UserId)
            <p>@Model.Email</p>
            <p>Администратор @Html.CheckBoxFor(m => m.isAdmin)</p>
            <p>Библиотекарь @Html.CheckBoxFor(m => m.isLibrarian)</p>


            <input type="submit" value="Сохранить" />
        }
    </div>
</body>
</html>
