﻿@using LibraryProject.ViewModels
@model ICollection<UsersListViewModel>
@{
    ViewBag.Title = "Список пользователей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UsersList</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Пользователь</th>
                    <th>Список ролей</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (UsersListViewModel user in Model)
                {
                <tr>
                    <td style="padding-right:20px">@user.Email</td>
                    <td style="padding-right:20px">
                        <p>
                            @foreach (var role in user.RoleNames)
                            {
                                @role <text> </text>
                            }
                        </p>
                    </td>
                    <td>
                        <a href="/Admin/ChangeRoles/@user.UserId">Изменить роли</a>
                    </td>
                </tr>
                    
                    
                }
            </tbody>
        </table>
       
    </div>
</body>
</html>
