﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Библиотека BiBa</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/site.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            
            font-family: 'Merriweather', serif;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="main-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BIBA", "Catalog", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Каталог", "Catalog", "Home")</li>
                    <li>@Html.ActionLink("Мои книги", "MyBookings", "Home")</li>
                    @if (this.User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Панель администратора", "UsersList", "Admin")</li>
                    }
                    @if (this.User.IsInRole("librarian"))
                    {
                        <li class="dropdown">
                            <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Панель Библиотекаря
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Добавить книгу", "AddBook", "Home")</li>
                                <li>@Html.ActionLink("Список книг", "BooksList", "Home")</li>
                                <li>@Html.ActionLink("Список авторов", "AuthorsList", "Librarian")</li>
                                <li>@Html.ActionLink("Список жанров", "GenreList", "Librarian")</li>
                                <li>@Html.ActionLink("Список издателей", "PublisherList", "Librarian")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Брони книг", "ReservationList", "Librarian")</li>
                                <li>@Html.ActionLink("Выданные книги", "BookingList", "Librarian")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Обновить бронирования", "CheckReservations", "Librarian")</li>
                            </ul>
                        </li>
                        
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Библиотека Biba</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
