﻿@model LibraryProject.Models.AddBookViewModel
@{
    ViewBag.Title = "Добавление книги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBook</title>
</head>
<body>
    <div>

        @using (Html.BeginForm())
        {



            <p>Название книги:</p>
            @Html.EditorFor(model => model.Name)
            <p>Автор:</p>
            <p>@Html.RadioButton("isNewAuthor", true) Добавить нового автора</p>
            <p>@Html.RadioButton("isNewAuthor", false) Выбрать автора из списка</p>
            @Html.EditorFor(model => model.AuthorName)
            @Html.DropDownList("AuthorId", Model.Authors as SelectList)


            <p>Жанр:</p>
            <p>@Html.RadioButton("isNewGenre", true) Добавить новый жанр</p>
            <p>@Html.RadioButton("isNewGenre", false) Выбрать жанр из списка</p>
            @Html.EditorFor(model => model.GenreName)
            @Html.DropDownList("GenreId", Model.Genres as SelectList)

            <p>Издатель:</p>
            <p>@Html.RadioButton("isNewPublisher", true) Добавить нового издателя</p>
            <p>@Html.RadioButton("isNewPublisher", false) Выбрать издателя из списка</p>
            @Html.EditorFor(model => model.PublisherName)
            @Html.DropDownList("PublisherId", Model.Publishers as SelectList)

            <input type="submit" value="Добавить" />

        }


    </div>
</body>
</html>
