﻿@using LibraryProject.ViewModels
@using LibraryProject.Models
@using Microsoft.AspNet.Identity
@model BooksListViewModel

@{
    ViewBag.Title = "Список книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BooksList</title>
</head>
<body>
    <p>
        @Html.ActionLink("Добавить книгу", "AddBook")
    </p>

    <section class="catalog-filters">
        @using (Html.BeginForm("BooksList", "Home", "get"))
        {
            @Html.Label("Автор:")
            @Html.DropDownList("AuthorId", Model.Authors as SelectList, optionLabel: "None");
            @Html.Label("Жанр:")
            @Html.DropDownList("GenreId", Model.Genres as SelectList, optionLabel: "None");
            @Html.Label("Издатель:")
            @Html.DropDownList("PublihserId", Model.Publishers as SelectList, optionLabel: "None");<br />
            @Html.Label("Название книги")
            @Html.TextBox("searchString")

            <input type="submit" value="Фильтр" />
        }
    </section>

    <table class="table">
        <tr>
            <th>
                Название книги
            </th>
            <th>
                Жанр
            </th>
            <th>
                Автор
            </th>
            <th>
                Издатель
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "EditBook", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "DeleteBook", new { BookId = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
