﻿@using LibraryProject.Models
@model Booking
@{
    ViewBag.Title = "CancellBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Отменить бронирование?</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(b => b.Id)
    <input type="submit" value="Отменить" />
}