﻿@using LibraryProject.ViewModels
@using LibraryProject.Models
@using Microsoft.AspNet.Identity
@model BooksListViewModel
@{
    ViewBag.Title = "Каталог книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Каталог книг</h2>
<section class="catalog-filters">
    @using (Html.BeginForm("Catalog", "Home", "get"))
    {
        @Html.Label("Автор:", new { @class="filters-label"})
        @Html.DropDownList("AuthorId", Model.Authors as SelectList,optionLabel:"Все");
        @Html.Label("Жанр:", new { @class="filters-label"})
        @Html.DropDownList("GenreId", Model.Genres as SelectList, optionLabel: "Все");
        @Html.Label("Издатель:", new { @class="filters-label"})
        @Html.DropDownList("PublihserId", Model.Publishers as SelectList, optionLabel: "Все");<br/>
        @Html.Label("Название книги", new { @class="filters-label"})
        @Html.TextBox("searchString")

        <input type="submit" value="Фильтр" />
    }
</section>


@foreach (var book in Model.Books)
{
    <h3>@book.Name</h3>
    <p>Автор: @book.Author.AuthorName Жанр: @book.Genre.GenreName Издательство: @book.Publisher.PublisherName</p>
    if (book.isAvailable)
    {
        <a href="/Home/ReserveBook?BookId=@book.Id&UserId=@User.Identity.GetUserId()">Бронировать</a>
    }
    else
    {
        <p>Бронирование не доступно</p>
        if (Model.User == null)
        {
            <a href="">Войдите чтобы иметь возможность подписаться на уведомления</a>
        }
        else if (Model.User.Subscriptions.FirstOrDefault(s => s.BookId == book.Id) == null || Model.User.Subscriptions == null)
        {
            
            <a href="/Home/Subscribe?BookId=@book.Id&UserId=@User.Identity.GetUserId()">Подписаться на обновления по E-mail</a>
        }
        else
        {
            <a href="">Отменить подписку</a>
        }

    }

}

