﻿@using LibraryProject.Models
@model Book
@{
    ViewBag.Title = "Удаление книги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удалить книгу?</title>
</head>
<body>
    <div>
        <p>Название книги: <strong>@Model.Name</strong></p>
        <p>Автор: <strong>@Model.Author.AuthorName</strong></p>
        <p>Издательство: <strong>@Model.Publisher.PublisherName</strong></p>
        <p>Жанр: <strong>@Model.Genre.GenreName</strong></p>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Id)
            <input type="submit" value="Удалить" />
        }
    </div>
</body>
</html>
