﻿@model LibraryProject.ViewModels.EditBookViewModel

@{
    ViewBag.Title = "Редактирование книги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditBook</title>
</head>
<body>
    @using (Html.BeginForm())
    {

        @Html.HiddenFor(m => Model.BookId);
        @Html.EditorFor(m => Model.Name);

        <p>Автор:</p>
        <p>@Html.RadioButton("isNewAuthor", true) Добавить нового автора</p>
        <p>@Html.RadioButton("isNewAuthor", false) Выбрать автора из списка</p>
        @Html.EditorFor(model => model.AuthorName)
        //@Html.DropDownList("AuthorId", Model.Authors as SelectList)

        @Html.DropDownListFor(x => x.AuthorId, Model.Authors as SelectList)

        <p>Жанр:</p>
        <p>@Html.RadioButton("isNewGenre", true) Добавить новый жанр</p>
        <p>@Html.RadioButton("isNewGenre", false) Выбрать жанр из списка</p>
        @Html.EditorFor(model => model.GenreName)
        //@Html.DropDownList("GenreId", Model.Genres as SelectList)
        @Html.DropDownListFor(x => x.GenreId, Model.Genres as SelectList)

        <p>Издатель:</p>
        <p>@Html.RadioButton("isNewPublisher", true) Добавить нового издателя</p>
        <p>@Html.RadioButton("isNewPublisher", false) Выбрать издателя из списка</p>
        @Html.EditorFor(model => model.PublisherName)
        //@Html.DropDownList("PublisherId", Model.Publishers as SelectList)
        @Html.DropDownListFor(x => x.PublisherId, Model.Publishers as SelectList)


        <input type="submit" value="Сохранить" />
    }

    <div>
        @Html.ActionLink("Вернуться к списку", "BooksList")
    </div>
</body>
</html>
