﻿@using LibraryProject.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Book>
@{
    ViewBag.Title = "Библиотека";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>КНИЖКИ</h2>

@foreach (var b in Model)
{
    <strong>@b.Name </strong>
    if (b.Author != null)
    { <p>@b.Author.AuthorName</p>}
if (b.Genre != null)
{<p>@b.Genre.GenreName</p>}
if (b.Publisher != null)
{ <p>@b.Publisher.PublisherName</p>}


if (b.isAvailable)
{
<a href="/Home/ReserveBook?BookId=@b.Id&UserId=@User.Identity.GetUserId()">Бронировать</a>
}
else
{
<p>Бронирование не доступно</p>
}


}



<a href="/Home/AddBook">Добавить книгу</a>