﻿@using LibraryProject.Models
@model ApplicationUser
@{
    ViewBag.Title = "Мои книги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мои книги</title>
</head>
<body>
    <div>
        <h2>Выданные книги</h2>
        <table>
            <thead>
                <tr style="word-spacing:5px">
                    <th>Книга </th>
                    <th>Дата выдачи </th>
                    <th>Вернуть до</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model.Bookings)
                {
                    if (booking.RecievmentTime != null && booking.ReturningTime == null)
                    {
                        <tr>
                            <td>@booking.Book.Name</td>
                            <td>@booking.RecievmentTime</td>
                            <td>@booking.RecievmentTime.Value.AddDays(7)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>


        <h2>Забронированные книги</h2>

        <table>
            <thead>
                <tr>
                    <th>Книга </th>
                    <th>Дата бронирования </th>
                    <th>Забронировано до</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model.Bookings)
                {
                    if (booking.BookingTime != null && booking.RecievmentTime == null)
                    {
                        <tr>
                            <td>@booking.Book.Name</td>
                            <td>@booking.BookingTime</td>
                            <td>@booking.BookingTime.AddDays(3)</td>
                            <td><a href="/Home/CancellBooking/@booking.Id">Отменить бронь</a></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>

                    }
                }
            </tbody>
        </table>

    </div>
</body>
</html>
