﻿@using LibraryProject.Models
@model ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestBookings</title>
</head>
<body>
    <div>

        @foreach (var booking in Model.Bookings)
        {
            <p>Привет</p>
            <p>@booking.BookingTime</p>
        }

    </div>
</body>
</html>
