﻿@using LibraryProject.ViewModels
@model BookingsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserBookings</title>
</head>
<body>
    <div>
        @Model.UserName
        @foreach (var b in Model.Bookings)
        {
            <p>Книга:@b.BookName Автор:@b.AuthorName Дата: @b.BookingTime</p>
        }
    </div>
</body>
</html>
